# Visual Studio 构建产物 / IDE 缓存
.vs/
x64/
Debug/
Release/
Project1fw/fw/

# 用户级配置
*.user
*.suo
*.sdf
*.opensdf

# 编译中间文件与调试符号
*.obj
*.ilk
*.pdb
*.idb
*.exp
*.lib
*.log
*.tlog
*.recipe
*.lastbuildstate
*.FileListAbsolute.txt

# 系统文件
Thumbs.db
desktop.ini
